---
import '../styles/global.css';
import MainLayout from '../layouts/main.astro';

const pageTitle = "Blog";
//const posts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const posts = await getCollection("perspectiva");

const displayDate = (date) => {

    return (
        new Date(date).toLocaleDateString('es-ES', {
            weekday: 'long', // 'short' o omite para no mostrar
            year: 'numeric',
            month: 'long',
            day: 'numeric',
        })
    )
}

function truncate(text, maxLength) {
  return text.length > maxLength
    ? text.slice(0, maxLength).trim().replace(/\s+\S*$/, '') + '...'
    : text;
}
---
<MainLayout title={pageTitle}>




            
<section class="bg-white dark:bg-black pt-26.25">
    <div class="container px-6 py-10 mx-auto ">

        <div class="grid grid-cols-1 gap-8 md:grid-cols-1 xl:grid-cols-2">

        {posts.map(post => 
            <a href={`/perspectiva/${post.id}`}>
                <div class="max-w-sm w-full lg:max-w-full h-full max-h-[200px] lg:flex border border-gray-200 rounded-lg shadow-sm dark:border-gray-900">
                    <div class="hidden md:block h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden">
                        <Image src={post.data.image.path} class="w-full h-full object-cover object-center" alt={post.data.image.alt}/>
                    </div>
                    <div class="p-4 flex flex-col justify-between leading-normal">
                        <div class="mb-8">
                            <p class="text-sm text-gray-600 flex items-center text-blue-500 mb-2 dark:text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M10.5 17a1 1 0 0 1-.71-.29a1 1 0 0 1 0-1.42L13.1 12L9.92 8.69a1 1 0 0 1 0-1.41a1 1 0 0 1 1.42 0l3.86 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-.7.32"/></svg>
                                {post.data.categories[0]} / {post.data.categories[1]}
                            </p>
                        <div class="text-gray-900 font-semibold text-sm mb-2 dark:text-white">{post.data.title}</div>
                        <p class="text-gray-700 text-sm text-gray-500 dark:text-white">
                        {truncate(post.body || '', 100)}
                        </p>
                        </div>
                        <p class="flex text-sm justify-end text-gray-600 dark:text-white">{displayDate(post.data.date)}</p>
                    </div>
                </div>
            </a>

        )}



        </div>
    </div>
</section>


</MainLayout>